<h1>Tüm Blog Yazıları</h1>

<table class="table table-bordered" >
<thead>
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Yorumlara İzin Ver</th>
        <th>İşlem</th>
    </tr>
</thead>
<tbody>
    {{#each postsData}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{allowComments}}</td>
        <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Düzenle</a><a href="/admin/posts?{{id}}" class="btn btn-danger">Sil</a></td>
    </tr>
    {{/each}}
</tbody>



</table>