<!-- Main Slide Top Area Start -->
<div class="fix">
	<!-- Start of slider area -->
	<div class="slider-area">
		<div id="slider" class="nivoSlider">
			<img style="display:none" src="img/slide/home-3/1.jpg" data-thumb="images/slider/1.jpg" alt=""
				title="#htmlcaption1" />
			<img style="display:none" src="img/slide/home-3/2.jpg" data-thumb="images/slider/2.jpg" alt=""
				title="#htmlcaption2" />
		</div>
		<div id="htmlcaption1" class="pos-slideshow-caption nivo-html-caption nivo-caption">
			<div class="timing-bar"></div>
			<div class="pos-slideshow-info pos-slideshow-info1">
				<div class="container">
					<div class="pos_description hidden-xs">
						<div class="title2"><span class="txt">LIFE IS SO BEAUTIFUL WITH NATURE</span></div>
						<div class="title1"><span class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
								min</span></div>
						<div class="pos-slideshow-readmore">
							<a href="#">READ MORE <i class="icofont icofont-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="htmlcaption2" class="pos-slideshow-caption nivo-html-caption nivo-caption">
			<div class="timing-bar"></div>
			<div class="pos-slideshow-info pos-slideshow-info2">
				<div class="container">
					<div class="pos_description hidden-xs">
						<div class="title2"><span class="txt">NATURE IS SO BEAUTIFUL IN WORLD</span></div>
						<div class="title1"><span class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
								min</span></div>
						<div class="pos-slideshow-readmore">
							<a href="#">READ MORE <i class="icofont icofont-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of slider area -->
</div>
<!-- Main Slide Top Area Start -->
<!-- Page Content Start -->
<section class="page-content-area ptb-120">
	<div class="container-fluid plr-80">
		<div class="row">
			<!-- Content Left Area -->
			<div class="col-md-9">
				<div class="row">
					{{#each postData}}
					<div class="col-md-4">
						<div class="blog-single-post pb-60">
							<div class="blog-img">
								<a href="/post-detail/{{slug}}"><img src="../uploads/{{file}}" alt=""
										style="width: 100%; height:auto;" /></a>
								<span class="pst-titel"><a href="#">{{category.name}}</a></span>
							</div>
							<div class="post-content">
								<div class="post-titel-author pt-30 pb-15">
									<h3><a href="/post-detail/{{slug}}">{{limitString title 20}}</a></h3>
									<span>{{generateTime date 'DD MMMM YYYY, HH:mm'}} / <a href="#">By :
											Kausar</a></span>
								</div>
								<div class="post-srt-content pb-20 border-bottom">
									<p>{{limitString body 65}}</p>
									<a href="/post-detail/{{slug}}">DEVAMINI GÖR <i
											class="icofont icofont-long-arrow-right"></i></a>
								</div>
								<div class="post-info pt-15 text-center">
									<span class="post-txt mr-25">
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>12 Beğeni</a>
									</span>
									<span class="post-txt mr-25">
										<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>08 Yorum</a>
									</span>

								</div>
							</div>
						</div>
					</div>
					{{/each}}

					<!-- Pager Previous Next Button -->

				
					 <div class="col-md-12">
									<ul class="pager">
											{{#paginate current=current pages=pages}} {{/paginate}}
										{{!-- <li><a href="#"><i class="fa fa-angle-double-left"></i>ÖNCEKİ</a></li>
										<li><a href="#">SONRAKİ<i class="fa fa-angle-double-right"></i></a></li> --}}
									</ul>
								</div> 
					<!-- Pager Previous Next Button -->
				</div>
			</div>
			<!-- Content Left Area End -->
			<!-- Content Right Area Start -->
			{{>home/rightSidebar}}
			<!-- Content Right Area End -->
		</div>
	</div>
</section>
<!-- Page Content End -->