<section class="header-banner-area pt-130 pb-115 bg-2">
	<div class="container">
		<div class="row">
			<div class="header-banner-titel text-uppercase text-black text-center">
				<h1>{{postData.title}}</h1>
			</div>
		</div>
	</div>
</section>
<!-- Header Banner Area Start -->
<!-- Page Content Start -->
<section class="page-content-area ptb-120">
	<div class="container">
		<div class="row">
			<!-- Content Left Area -->
			<div class="col-md-9">
				<div class="row">
					<!-- Blog Large Image Single Item -->
					<div class="col-md-12">
						<div class="blog-single-post pb-60">
							<div class="blog-img">
								<a href="#"><img src="../uploads/{{postData.file}}" alt=""
										style="width: 100%; height:auto;" /></a>
								<span class="pst-titel"><a href="#">{{postData.category.name}}</a></span>
							</div>
							<div class="post-content">
								<div class="post-titel-author pt-30 pb-15">
									<h3><a href="#">{{postData.title}}</a></h3>
									<span>{{generateTime postData.date 'DD MMMM YYYY, HH:mm'}} / <a href="#">By :
											Kismot</a></span>
								</div>
								<div class="post-srt-content pb-20 border-bottom">
									<p>{{postData.body}}</p>
								</div>
								<div class="post-info pt-15">
									<span class="post-txt mr-25">
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>47 Likes</a>
									</span>
									<span class="post-txt mr-25">
										<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>08 Comments</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Blog Large Image Single Item -->
					<!-- Titel Here -->
					<div class="col-md-12">
						<div class="as-titel">
							<h4>İlgili Gönderiler</h4>
						</div>
					</div>
					<!-- Titel Here -->
					<div class="owl-carousel owl-theme related-post-cursol fix">
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/1.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Stories</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Adventure Makes Life More Beautiful</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Nirob</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Adventure Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciats</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/2.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Life Style</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Explore Human Life Style</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Kausar Al Mamun</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciatis</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/3.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Life Style</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Explore Human Life Style</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Kausar Al Mamun</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciatis</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/4.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Life Style</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Explore Human Life Style</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Kausar Al Mamun</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciatis</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/5.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Life Style</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Explore Human Life Style</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Kausar Al Mamun</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciatis</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
						<!-- Blog Large Image Single Item -->
						<div class="col-md-12 item">
							<div class="blog-single-post">
								<div class="blog-img">
									<a href="#"><img src="../img/related-post/1.jpg" alt="" /></a>
									<span class="pst-titel"><a href="#">Life Style</a></span>
								</div>
								<div class="post-content">
									<div class="post-titel-author pt-30 pb-15">
										<h3><a href="#">Explore Human Life Style</a></h3>
										<span>20 November 2016, 10.15 am / <a href="#">By : Kausar Al Mamun</a></span>
									</div>
									<div class="post-srt-content pb-20 border-bottom">
										<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium
											doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore
											veritatis perspiciatis</p>
										<a href="#">CONTINUE READING <i
												class="icofont icofont-long-arrow-right"></i></a>
									</div>
									<div class="post-info pt-15">
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15
												Comments</a>
										</span>
										<span class="post-txt mr-25">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Blog Large Image Single Item -->
					</div>
					<!-- Titel Here -->

					<!-- Titel Here -->


					<div class="comment-section  pt-5 pb-5 pb-md-0">
						<div class="comment-list">
							<div class="sec-title">
								<h3>3 Yorum </h3>
							</div>
							<ul class="list-unstyled mb-0">
								<li>
									<div class="comment d-flex justify-content-between">
										<div class="comment-img flex-shrink-0">
											<img src="https://webdevproof.com/theme-forest-demo/nelluce/fashion/img/comment-02.jpg"
												alt="" class="img-fluid">
										</div>
										<div class="comment-info pl-4">
											<div
												class="header d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-3">
												<h3>Kelly Wilson</h3>
												<div class="extra">
													<span>May 24, 2019</span>
													<a href="#" class="reply">Reply</a>
												</div>
											</div>
											<p class="mb-0">Proin gravida nibh vel velit auctor aliquet. Aenean
												sollicitudin, lorem quisma bibendum auctor nisi elit consequat ipsum,
												nec sagittis sem amet nibh.</p>
										</div>
									</div>
									<ul class="list-unstyled">
										<li>
											<div class="comment d-flex justify-content-between">
												<div class="comment-img flex-shrink-0">
													<img src="https://webdevproof.com/theme-forest-demo/nelluce/fashion/img/comment-02.jpg"
														alt="" class="img-fluid">
												</div>
												<div class="comment-info pl-4">
													<div
														class="header d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-3">
														<h3>Peter Waogh</h3>
														<div class="extra">
															<span>May 24, 2019</span>
															<a href="#" class="reply">Reply</a>
														</div>
													</div>
													<p class="mb-0">Proin gravida nibh vel velit auctor aliquet. Aenean
														sollicitudin, lorem quisma bibendum auctor nisi elit consequat
														ipsum, nec sagittis sem amet nibh.</p>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li>
									<div class="comment d-flex justify-content-between">
										<div class="comment-img flex-shrink-0">
											<img src="https://webdevproof.com/theme-forest-demo/nelluce/fashion/img/comment-02.jpg"
												alt="" class="img-fluid">
										</div>
										<div class="comment-info pl-4">
											<div
												class="header d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-3">
												<h3>Anniee Marquee</h3>
												<div class="extra">
													<span>May 24, 2019</span>
													<a href="#" class="reply">Reply</a>
												</div>
											</div>
											<p class="mb-0">Proin gravida nibh vel velit auctor aliquet. Aenean
												sollicitudin, lorem quisma bibendum auctor nisi elit consequat ipsum,
												nec sagittis sem amet nibh.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- Leave Comment Area Start -->
					<div class="leave-comment">
						<form id="contact-form" class="form-group" method="POST" action="/admin/comments">
							<div class="col-md-12">
								<div class="form-textarea">
									<textarea name="body" required id="message"
										placeholder="Yorumunuzu buraya yazınız" rows="9"
										class="form-control"></textarea>
								</div>
								<div class="form-button">
									<button class="contact-submit" type="submit">Paylaş</button>
									<p class="form-messege"></p>
								</div>
							</div>
						</form>
					</div>
					<!-- Leave Comment Area End -->







				</div>
			</div>
			<!-- Content Left Area -->
			<!-- Content Right Area -->
			{{>home/rightSidebar}}
			<!-- Content Right Area End-->
		</div>
	</div>
</section>